@model BakeryRegistration.Data.DTOs.CreateBakeryDto

@{
    ViewData["Title"] = "Registrar Padaria";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <style>
        .form-control-sm {
            height: calc(1.5em + .75rem + 2px);
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
        }

        body {
            font-family: 'Lato', sans-serif;
    </style>
</head>
<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row w-100">
            <div class="col-md-14 col-lg-12 col-xl-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Registrar Padarias</h2>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Atenção!</strong> @ViewData.ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form asp-controller="Bakeries" asp-action="Register" method="post" enctype="multipart/form-data">

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control form-control-sm" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control form-control-sm" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control form-control-sm" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label asp-for="AddressStreet" class="control-label"></label>
                                    <input asp-for="AddressStreet" class="form-control form-control-sm" />
                                    <span asp-validation-for="AddressStreet" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="AddressNumber" class="control-label"></label>
                                    <input asp-for="AddressNumber" class="form-control form-control-sm" maxlength="8" />
                                    <span asp-validation-for="AddressNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="AddressComplement" class="control-label"></label>
                                    <input asp-for="AddressComplement" class="form-control form-control-sm" maxlength="255" />
                                    <span asp-validation-for="AddressComplement" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Neighborhood" class="control-label"></label>
                                    <input asp-for="Neighborhood" class="form-control form-control-sm" maxlength="255" />
                                    <span asp-validation-for="Neighborhood" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control form-control-sm" maxlength="255" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="State" class="control-label"></label>
                                    <input asp-for="State" class="form-control form-control-sm" maxlength="255" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Photo" class="control-label"></label>
                                <input asp-for="Photo" type="file" accept=".png" class="form-control-file" />
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>